
@{
    ViewBag.Title = "FirstStage";
    Layout = "~/Views/Shared/NoMenu.cshtml";
}
<!--ovo je stranica za prvi stadijum-->
    <div class="row page-header-text">
        <h2>Faza senzomotornog razvoja</h2>
    </div>
    <div class="row page-content">
        <div class="col">
        <p>
            Hormon stresa (kortizol) mobiliše energiju i usmerava je u odbrambene svrhe. 
            Ovim usporava razvojne procese a naročito se ispoljava na inhibiciju neuronskog razvoja.
            Melodični tonovi inhibišu lučenje kortizola, odnostno hormona stresa i time indirektno
            stimulišu razvoj neurona. Upotreba muzike u neuro razvoju i uopšte u psihičkom i emocionalnom
            razvoju je analizitana poslednjih 20 godina. Kao rezultat toga nastala je psihološka metoda 
            psihoterapije pod nazivom „music therapy“. Lider u ovoj oblasti je „American Music Therapy 
            Association - AMTA“. Na osnovu istraživanja AMTA-a predlažemo neke neke aplikacije za mobilne
            telefone kao i neke youtube kanale koji pružaju ovu vrstu muzike.
        </p>
        <p>
            Odličan izvor jeste aplikacija „Calm“ koju proveravaju stručnjaci terapije muzikom.
        </p>
        <p>
            Muzika je u ovoj aplikaciji koju ćemo nazvati „stress realief music“ je podeljena 
            u dve kategorije:
            <ul>
                <li>
                    „Sleep“ - je muzika čija frekfencija pomaže aktiviranju teta talasa. Teta talasi su
                    talasi koji se javljaju u prvoj, najkraćoj fazi spavanja. Ovakva vrsta muzike omogućava
                    lakše uspavljivanje i oslobadjanje od dnevnog stresa (stresa u širem smislu, u smislu zamora).
                </li>
                <li>
                    „Anxiety free-Meditation“ - Meditativna muzika je komercionalni naziv za muziku koja
                    podstiče alfa moždane talase. Stanje u kome vladaju samo alfa moždani talasi je stanje
                    duboke relaksacije ili čak lake hipnoze. Ovo stanje prirodno nastaje pre uspavljivanja ili
                    posle budjenja. Za ovakvo stanje potrebni su posebni uslovi, dok meditativna muzika moze
                    samo približti moždane talase alfa talasima, i na taj način značajno umanjiti stres.
                    Ovakvu vrstu muzike treba koristiti posle budjenja, u periodu odmora i u večernjim
                    časovima kao i za vreme obroka.
                </li>
            </ul>
        </p>
        </div>
    </div>
