
@{
    ViewBag.Title = "Faza senzomotornog razvoja";
    Layout = "~/Views/Shared/NoMenu.cshtml";
}
<!--ovo je stranica za prvi stadijum-->
<div class="row page-header-text">
    <h2>Faza senzomotornog razvoja</h2>
    <h3>Za bolji razvoj vašeg deteta preporučujemo</h3>
</div>
<div class="row page-content full-width">
    <div class="col">
        <p>
            Hormon stresa (kortizol) mobiliše energiju i usmerava je u odbrambene svrhe. 
            Ovim usporava razvojne procese a naročito se ispoljava na inhibiciju neuronskog razvoja.
            Melodični tonovi inhibišu lučenje kortizola, odnostno hormona stresa i time indirektno
            stimulišu razvoj neurona. Upotreba muzike u neuro razvoju i uopšte u psihičkom i emocionalnom
            razvoju je analizitana poslednjih 20 godina. Kao rezultat toga nastala je psihološka metoda 
            psihoterapije pod nazivom „music therapy“. Lider u ovoj oblasti je „American Music Therapy 
            Association - AMTA“. Na osnovu istraživanja AMTA-a predlažemo neke neke aplikacije za mobilne
            telefone kao i neke youtube kanale koji pružaju ovu vrstu muzike.
        </p>
        <p>
            Odličan izvor jeste aplikacija „Calm“ koju proveravaju stručnjaci terapije muzikom.
        </p>
        <p>
            Muzika je u ovoj aplikaciji koju ćemo nazvati „stress realief music“ je podeljena
            u dve kategorije:
        </p>
            <img src="~/Resources/calm_app.jpg" class="image-inline image-border" />
            <ul>
                <li>
                    <b>„Sleep“</b> - je muzika čija frekfencija pomaže aktiviranju teta talasa. Teta talasi su
                    talasi koji se javljaju u prvoj, najkraćoj fazi spavanja. Ovakva vrsta muzike omogućava
                    lakše uspavljivanje i oslobadjanje od dnevnog stresa (stresa u širem smislu, u smislu zamora).
                </li>
                <li>
                    <b>„Anxiety free-Meditation“</b> - Meditativna muzika je komercionalni naziv za muziku koja
                    podstiče alfa moždane talase. Stanje u kome vladaju samo alfa moždani talasi je stanje
                    duboke relaksacije ili čak lake hipnoze. Ovo stanje prirodno nastaje pre uspavljivanja ili
                    posle budjenja. Za ovakvo stanje potrebni su posebni uslovi, dok meditativna muzika moze
                    samo približti moždane talase alfa talasima, i na taj način značajno umanjiti stres.
                    Ovakvu vrstu muzike treba koristiti posle budjenja, u periodu odmora i u večernjim
                    časovima kao i za vreme obroka.
                </li>
            </ul>
        
        <hr />
        <img src="~/Resources/relax_channel.png" class="image-w-100 image-border" />
        <p>
            <br />
            Ovde ćemo dati jedan još jedan izvor „stress relief“ muzike. To je  youtube kanal „Meditation Relax Music“. Ova vrsta muzike
            spada u drugu kategoriju i shodno tome je treba i koristiti.
            <br /><br />

            Ovaj kanal ima veliki broj umirujue muzike od kojih treba koristiti one na koje dete najbolje reaguje.
            Slušanje „stress relief“ muzike treba izostaviti onda kada se dete uči, jer je tada potrebno da budu aktivni beta moždani 
            talasi. Učenje za dete predstavlja i igranje igračkama kada takodje treba izostaviti stimulaciju muzikom.
            Još jedna preporuka o načinu upotrebe stress relief muzike odnosi se na emocionalno uslovljavanje. Emocionalno uslovljavanje 
            jeste proces staranja bezuslovne reakcije na uslovnu draz, kada se uslovna draz javlja istovremeno sa bezuslovnom draži.
            U poznatom Pavlovljevom eksperimentu sa psom, koji je stvorio uslovnu reakciju lučenja pljuvačke na zvuk zvona, javlja se klasično
            u slovljavanje. Kod emocionalnog uslovljavanja situacija je nešto komplikovanija ali je princip isti. Detetu se prijatne emocije 
            javljaju kada je majka pored njega. Tada se smanjuje strah. Ako se „stress relief“ muzika sluša kada dete provodi vreme sa majkom, 
            recimo kada ga majka hrani, dete će nakon toga ispoljavati prijatne emocije i kada samo čuje zvuk te muzike. Uticaj pozitivnih emocija i 
            relaksiranog stanja na razvoj smo već istakli i objasnili.

        </p>
    </div>
</div>
