@model string
@{
    ViewBag.Title = "Faza formalnih operacija";
    Layout = "~/Views/Shared/NoMenu.cshtml";
}


<div class="row page-header-text">
    <h2>Faza formalnih operacija</h2>
    <h3>Za bolji razvoj vašeg deteta preporučujemo</h3>
</div>
<div class="row page-content full-width">
    <p>
        Faza formalnih operacije je faza razvoja imaginativnog razmisljanja. Imaginativno razmišljanje nam omogućuje da se snađemo u prostoru. Mentalne slike su lične jer su zasnovane na ličnom iskustvu. Ako zatražite od dve osove da zamisle psa verovatno da bi mentalne slike bile totalno različite. Zbog toga je životno iskustvo presudno u razmišljanju u vidu formalnih operacija. Kreativnost se zasniva na veštini mentalnog imaginiranja. Za staranje, recimo kreativnog crteža mi poznate elemente spajamo u celine i tako zamišljamo novi element. Za uspeh potrebna je kako veština mentalnog imaginiranja tako i iskustvo.
        <br />
        Tehnologija može pomoći u razvijanju veštine ali ne i u bogaćenju iskustva. Zato treba biti oprezan sa preteranom upotrebom tehnologije. Preterana upotreba može samo uzaludno trošiti vreme jer ovakav rad zahteva punu koncentraciju, a i sam po sebi ima genetske granice koje se prekomernim radom ne mogu prevazići. Zato se često kaže da je neko jednostavno kreativan a neko ne. Novija istraživanja su pokazala da se na ovom polju individua može unaprediti ali samo do genetskih potencijala, koji su skloni variranju od individue do individue.
        <br />
        Samostalan rad na ovom polju je jako naporan i nepouzdan. Tehnologije mogu rad učiniti zanimljivijim a i proverenijim, zato sto jedna proverena aplikacija se može koristiti od strane miliona ljudi.
        <br />
        <b>„Chess eye“</b>, windows aplikacija je odlican primer ovakve vrste. Ima 11 zadatka od kojih svaki ima veliki broj nivoa i kompleksan sistem rangiranja sa prakticno neogranicenim mogucnostima napredoanja.
        <br />
        Na slici je prikazan zadatak gde je zadato polje na kome se nalazi konj i pitanje da li moze doci na zadato polje.
        <img class="image-w-100 image-border" src="~/Resources/chesseye.png" />
        Igrač je ograničen zadati vremenom i cilj je da u određenom broju pokušaja da što više tačnih odgovora. Ovakve igre će osobu naterati da u glavi stvore sliku šahovske table i polja na kojima se nalaze figure. Svako ko je probao ovu ili sličnu igru primetiće da je za rešavanje potreban veliki mentalni napor. Ipak vežbanjem se razvija moć imaginacije i vremenom ove igre postaju relativno lake. Vežbanjem će se stvoriti potencijal ali da li će se on iskoristite zavisi od iskustva i vežbanja u realnim situacijama. Recimo ako osoba želi da slika, pre početka treba zamisliti kako bi slika izgledala. Ovde je potrebna menalna imaginacija. Kada programer pokušava da reši problem on zapravo pokušava da iz opštih pravila programskog jezika izvuče konkretno rešenje. Ovde mu je potrebno deduktivno razmišljanje koje se oslanja na imaginativno mišljenje. Oakve praktične veštine se moraju vežbati na direktnim primerima i tehnologija kao što smo opisali može samo podstaći te veštine.


    </p>
</div>
