
@{
    ViewBag.Title = "Preoperacionalna faza";
    Layout = "~/Views/Shared/NoMenu.cshtml";
}
<div class="row page-header-text">
    <h2>Preoperacionalna faza</h2>
    <h3>Za bolji razvoj vašeg deteta preporučujemo</h3>
</div>
<div class="row page-content full-width">
    <div class="col">
        <p>
            U preoperacionalnoj fazi dete razvija memoriju i pažnju, odnosno mogućnost koncentracije. Odgovarajuća tehnologija pruža
            odličan način razvoja memorije, dok se koncentracija najbolje vežba na realnim situacijama. Tehnologija sama po sebi predstavlja
            distrakciju, odnosno odvajanje od realnih problema, zato kao izvor vežbanja koncentracije se treba umereno koristiti.
        </p>
        <p>
            Razvoj memorije je najvažniji za ovaj period. Memoriju delimo na kratkoročnu i dugoročnu.
            Kratkoročna se odnosi na ono što u memoriji zadržavamo do 30sekundi i ona je limitirana. Prosečna
            osoba moze u kratkoročnoj memoriji da zadrži do 7 imformacija.
            Dugoročna memorija je praktično neograničena. Njen kapacitet je ograničen samo obimom pažnje.
        </p>
        <p>
            Dete pokušava da prikupi što više informacija i nad njima vrši odlučivanje, odnosno prost izbor jedne od
            više opcija. Ovakvav rad jeste naporan i dete lako odustaje od obradjivanja većeg broja informacija.Rad je
            naporan jer se ne stiče utisak da trud može nešto promeniti. Čak i roditelji često sposobnosti memorisanja
            prepisuju genetici i praktično nimalo vremena ne ulažu u razvoj ovakvih sposobnosti kod deteta. Najbolji način
            pristupa je kroz zabavne video igre. Na internetu se mogu naći veliki broj ovakvih igara.Primer na kome ćemo objasniti
            kako ove video igre doprinose razvoju jeste video igra podudaranja slika. To je igra u kojoj dete otvara skrivena polja iza
            kojih se nalazi određena slika.Dete otvara dva polja i ukoliko su slike iste polja ostaju otvorena, a ukoliko su
            različita polja se zatvaraju. Igra je gotova kada se uspešno otvore sva polja. Posle neuspešnog pokušaja dete treba
            zapamtiti koje se slike nalaze iza tih polja i kada nađe njima odgovarajuce, koristeći kratkoročnu memoriju treba da
            otvori ono polje gde je slika ista. Igra kreće od lakših nivoa gde su na početku ponuđena 4 zatvorena polja pa ide do
            težih gde su ponuđena i do 100 polja. Sa unapređenjem memorije dete će moći sve više podataka da zadrži u memoriji i na
            taj način će unaprediti svoje memorijske kapacitete. Još jedan razlog zato je ova igra
            reprezentativna jeste što na nižim nivoima odnosi na kratkoročnu, a na višim na dugoročnu memoriju.
        </p>
        <br />
        <p>
            <img src="~/Resources/memory.jpg" class="image-inline image-border" />
            Ovde dajemo vizuelni izgled aplikacije Remembery od kompanije Dermany Dingo.
            Aplikacija je namenjena za android telefone. Besplatna je i sadrži 12 nivao.
            Može se igrati i u dvoje, gde se dve osobe međusobno madmeću na istom polju. Ovo kod
            dece strara kompetitivnu ambiciju sto prestavlja odličan izvor motivacije za ovaj uzrast.
            Rangiranje se vrši na osnovu potrebog vremena za rešavanje i potrebnog broja pokušaja. Napredak se
            treba gledati u potrebnom broju pokušaja. Poboljšanje memorije se indikuje manjim brojem pkušaja
            potrebih da se sva polja otvore. Na početku dete treba samo da reši zadatu šemu, ali vremenom kako
            postaje veštije do rešenja treba dolaziti manjim brojem pokušaja.
        </p>
        <br />
        <div>

        </div>
        <p class="clearfix">
            Nakon što smo opisali princip po kome ovakve aplikacije unapređuju kogniciju, daćemo jedan složeniji primer. Takođe
            je reč o android aplikaciji. Naziv aplikacije je “Memorz Games: Brain Training” kompanije Maple Media.  Aplikacija ima vise
            vrsta igra kao što su pronalaženje zadatog geometrijskog oblika, pronalaženje novododate slike, sortiranje brojava po veličini itd.
        </p>
        <br />
        <p>
            <img src="~/Resources/game1.jpg" class="image-inline image-border" />
            Na slici prikazana je igra pronalaženja novog elementa. Ovo je primer sličan prethodnom i
            svodi se na memorisanje. Ono na šta se ovakva igra najviše fokusira je prebacivanje elementa iz kratkoročne u
            dugoročnu memoriju s obzirom da se svakim narednim korakom dodaje još jedan element a vreme svakako prelazi 30sekunde.
        </p>
        <p class="clearfix">
            <img src="~/Resources/game2.jpg" class="image-inline image-border" />
            Na slikama je prikazana igra u kojoj se zadaju plava i bela polja na par sekundi, a u naredom koraku dete treba da aktivira ona polja koja su bila plava.
            Ova igra se odnosi na unapređenje samo kratkoročne memorije i povećanje kapaciteta, odnosno broja elemenata koji mogu da se zapamte na kraće od 30sekundi.
        </p>
        <p class="clearfix">
            <img src="~/Resources/game3.jpg" class="image-inline image-border" />
            Na slici 7 prikazana je igra u kojoj treba da se pritisne na element zadat u belom krugu. Ova igra vežba brzo razlikovanje geometrijskih oblika i poboljšava koncentraciju.
            Iako je zadatak lak vremenom opada koncntracija. Fokusiranjem pašnje na zadati problem poboljšava se koncentracija. Ovaj tip igre predstavlja drugi tip igara za ovaj uzrast.
        </p>
        <p class="clearfix">
            <img src="~/Resources/game4.jpg" class="image-inline image-border" />
            Na slici 8 vidimo igru koja se odnosi na sortiranje brojeva u pravinom redosledu. Igra se takođe odnosi na koncentraciju ali ona uključuje
            i konkretne operacije, odnosno operacije
            poređenja brojeva. Ordinalno poređenje brojeva predstavlja
            posle nominalnog poređenja najniži oblik konkretne operacije. Ova igra na neki način spaja preoperacioni stadijum sa stadijumom konkretnih
            operacija, tačnije pripremu za naredni nivo razvoja.
        </p>
        <p class="clearfix">
            Aplikacije daju pogonost vezbanja koje je provereno od strane strucnjaka, koje je zabavno, jeftinije s obizom da svako danas ima mobilni telefon, i pristupacno svuda.
        </p>



    </div>
</div>

