
@{
    ViewBag.Title = "Preoperacionalna faza";
    Layout = "~/Views/Shared/NoMenu.cshtml";
}

<div class="row page-header-text">
    <h2>Faza konkretnih operacija</h2>
    <h3>Za bolji razvoj vašeg deteta preporučujemo</h3>
</div>
<div class="row page-content full-width">
    <p>
        U ovoj fazi se intezivnije razviju kognitivni procesi kao sto su paznja, memorija, kreativnost,
        rezonovanje i rešavanje problema. Ono što prethodna faza nije podrazumevala je obrađivanje više faktora koji utiču na rešenje problema.
        <br />
        Šah predstavlja odličnu igru za unapređenje ovih vrsta sposobnosti.
        <br />
        Ovde ćemo se pozvati na istraživanje sprovedeno na Univerzitetu u Budipešti. Naslov istraživanja jeste „Kognitivne beneficije treniranja šaha kod dece“. U istraživanju
        su uključili 20 deteta na uzrastu oko 12 godina  od kojih su tražili da pohađaju časove šaha. Takođe u istraživanju je bila uključena i kontrolna
        grupa sa statistički neznačajnim intelektualnim razlikama. Nakon završenog treninga ponovo su odrađena poređenja
        intelektualnih sposbnosti i pokazana je statistički značajna razlika između kontrolne grupe i one koja je trenirala. Detalji istraživanja se mogu naći u linku na kraju ovog rada.
        <br />
        Učenjem šaha se stiče specificno znanje, pamćenje velikog broja specifičnih paterna. Unapređenje u šahu se postiže kroz
        učenje i praksu. Ono dolazi samo od boljeg ili više efikasnog organizovanog znanja u ovom domenu. Istraživanja su pokazala
        da najbolji uzrast za početak profesionalnog bavljenja šahom jeste 12 godina. Ovo se poklapa sa Pijažeovim stadijumom formalnih
        operacija jer tad dete postaje sposobno za apstaktne misli odnosno da vizuelizira poziciju od nekoliko poteza unapred. Ipad ovde nije reč o profesionalnom bavljenju šahom
        već o razvoju kognitivnih sposobnosti. Shodno tome šah je odlična igra i za decu na uzrastu od 7 do 11 godine. Šah će od njih zahtevati intelektualno naprezanje i time će proširiti svoje kapacitete.
        <br />
        Iz evidentnih razloga šah predstalja odličnu igru za unapređenje kognicije. Nema svako uslove da pohađa
        časove šaha, recimo iz finansijskih razloga. Odlaženje u šahovski kljub može trošiti znatno vreme, a često se
        dobar šahovski klub ne može naći u našoj okolini. Baš iz tih razloga tehnologija nalazi odličnu primenu. Svako ima pristup internetu gde može naći tonu bestplatnih šahovskih lekcija.
        Ovde ćemo kao primer dati web sajt koji na jednom mestu objedinjuje veliki broj ljudi koji žele da igraju šah, veliki broj šahovskih puzli, lekcija... A to je sajt „chess.com“.
        <br />
        Tehnologija omogucuje procenu jacine poteza, procenu pozicije, nalazenje najboljeg poteza. Na njoj se mogu igrati veliki broj sahovskih puzli,
        strategija i gledati video casovi napravljeni od strane strucnjaka u svojoj oblasti. Takođe je moguće igrati šak sa drugim ljidima online ili protiv računara.
        <br />
        Navešćemo mogućnosti koje pruža „Chess.com“ i kako one mogu doprineti razvoju kognicije:
    </p>
    <ul>
        <li>Učenje šahovskih pravila, otvaranja i šablona žavršnice – unapređuje memoriju,</li>
        <li>Rešavanja taktičkih problema – razvija sposobnost konkretnih logičkih operacija,</li>
        <li>Rešavanje puzli – razvija spospobnost vizuelizacije i logičkih operacija,</li>
        <li>Rešavanje strateških problema – razvija apstraktno razmišljanje i logičke operacije.</li>
    </ul>
    <p>
        Na ovim slikama 9 i 10 su prikazane samo neke od mogućih opcija. Prikazan je način na koji je organizovan sajt.
        Igračima se nude besplatni časovi od najosnovnijih nivoa (kako pomerati figure) do naprednijih (završnica, napad, strategija).
        <br />
        U šahu postoji veoma veliki broj otvaranja i šablona završnice. Ovje de prosto memorisanje svih pozicija nemoguće i zato se dete oslanja na  memorisanje asocijacijama. Ovaj način
        meorisanja je zahtevniji jer predstavlja logičko povezivanje. Prvi put se javlja u ovom razvojnom periodu i na ovaj način se može dodatno razvijati.
        <br />
        <img class="image-border image-inline" src="~/Resources/chess1.png" />
        Rešavanje taktičkih problema podrazumeva računanje velikog broja opcija što predstavlja pravi izazov za dete u ovom uzrastu.
        Igrač treba voditi računa o svojim i protivničkim nebranjenim figurama, mogućim napadima protivničkog kralja, o
        skrivenim napadima, duplim napadima itd. Težina taktičkih problema je odgovarajuća veštinama igrača. Svakim uspešnim rešavanjem taktičkog problema dobijaju se
        poeni a greškom se gube, tako da uvek dobijate zadatke koji su na vašem nivou sposobnosti. Na ovaj način učenje postaje interesantnije i dete je spremno više vremena da utroši.
        <br />
        Većina od ovih polja podrazumevaju teoretsku osnovu u vidu video časova i praktičnu vežbu u vidu šahovskih problema.
        Za svaki video čas je naznačeno ko je autor. U većini slučajeva autori su šahovski velemajstori i internacionalni majstori.
        Svaka video lekcija je obrađena od strane najvećih stručnjaka. Ovde se vidi prava prednost tehnologije, a to je da se potpuno besplatno dobije  
        sadržaj najvišeg kvaliteta i da se takvom sadržaju može pristupiti bilo kada.
    </p>
    <p class="clearfix">
        <img src="~/Resources/chess3.png" class="image-w-100 image-border" />
        <br />
        <img class="image-border image-inline" src="~/Resources/chess4.png" />
        Na slici 12 se vidi kako je organizovano praktično rešavanje šahovskih problema. Zadata je tabla
        sa odgovarajućom pozicijom i nakon svakog poteza dobijate odgovor o ispravnosti poteza. Na desnoj strani nalazi se statistika.
        Prikazana je linija na kojoj se vidi koliko je i kada igrač napredovao. Moguće je koristiti analizu kompjutera. Za svaki rešen problem s
        obzirom na vreme koje je bilo potrebno za rešavanje dobijaju se dodatni poeni. Ovakvo složeno ocenjivanje nivoa igranja i zadavanje
        odgovarajućih problema ne bi bilo moguće bez tehnologije.
        <br />
        Ovakvo stečeno šahovsko znanjie iz više oblasti igrač moze primeniti u konkretnim partijama protiv drugih grača koji su na njegovom nivou znanja. Na ovaj način se razvija sposobnost nalaženja rešenja u sličnim situacijama odnostno gneralizovana primena znanja, koja takođe predstavlja jedan oblik kognicije.
        Kada igrač kalkuliše veći broj poteza unapred onda problem nije njemu pred očima već ga mora zamisliti u glavi. Tada se oslanja na imaginativno razmišljanje i zato šah spaja fazu konkretnih operacija i fazu formalnih operacija. Predstavlja najbolji izbor u razvijanju kognicije u ovom uzrastu jer se za igranje šaha moramo osloniti na veliki broj sposobnosti.
    </p>
    <p class="clearfix">
        Još jedna igra koja je od koristi kad je u pitanju logika jeste sudoku. Sudoku je igra sa brojevima koja se oslanja namemoriju. Da bi ste popunili Sudoku puzlu morate gledati unapred i pratiti uzročno posledične veze. Takvo planiranje poboljšava logičko rasuđuvanje, kratkoročnu memoriju i koncentraciju. Sudoku je dostupna u velikom broju nivoa.
        <br />
        Treba nažnačiti da ovaj tip igara mogu proširiti kognitivne sposobnosti i posle razvojnog perioda, samo što se tada stečena sposobnost teže, ako uopšte generalizuje.
        <br />
        Kod sudoku igre upotreba tehnologije prižiće uvek dostupnu igru na željenom nivou. U suštine ne postoje velike razlike između tradicionalnog i igranja na recimo tabletu. Kao odličan izvor sudoku igru navešćemo sajt „sudoku.com“. Na slici ispod vidimo kako je kocepiran izgled aplikacije i navešćem neke prednosti u odnosu na tradicionalno igranje.
        <br />
        <img src="~/Resources/sudoku.png" class="image-w-100 image-border" />
        <br />
        Aplikacija nudi 4 nivoa, na svakom od njih gotovo neograničen broj Sudoku zadatka. Aplikacije može proveravati greške, davati rešenja poteza. Ovo pravi neznatnu razliku od tradicionalnog igranja.
        <br />
        Sada ćemo pomenuti nekoliko tehnologija koje imaju značaj u specificnim sposobnostima, kao što je sposobnost brzog računanja itd.
        <br />
        Jedna od takvih aplikacija jeste „Master Math“ kompanije „song84 Games“.
        U ovoj aplikaciji se zadaju računski problemi koji se trebaju rešiti za određeno vreme.
        Kao i prethodne i ova aplikacija ima sistem rangiranja na osnovu pogrešnih i tačnih odgovora. Sposobnost računanja se proverava u psihološkim testovima opšte sposobnosti. U ovakvim testovima akcenaj je na brzinu računanja. Psiholozi su na osnovu raznih istraživanja zaključili da sposobnost brzog računanja ima implikacije u mnogim domenima logike. Baš iz tih razloga se i nalaze u testovima opšte sposobnosti. Unapređenje ovakvih sposobnosti je najbolje kada je zadato vreme takvo da osoba uspeva da tačno izračuna oko 90% zadatih zadatka. U sličaju kada koristimo tradicionalno računanje na papiru, mozak ima tendenciju da ostaje na problemu dok nije siguran da ga je tačno rešio. Zato tehnologija predstavlja bolji izbor. Nakon isteka vremena prelazi se na novi zadatak. Sa poboljšanjem smanjuje se zadato vreme. Ovako se osoba rangira i ima uvid u napredak.

    </p>
    <p class="clearfix">
        <img class="image-border image-inline" src="~/Resources/math.jpg" />
        Na slici 14 je prikazano kako je koncepirana aplkacija. Nudi nominalno poređenje vrednosti, sabiranje, oduzimaje, množenje, deljenje i kombinaciju ovih opcija. S obzirom da ovaj vid vežbanja razvija specifičnu vrstu sposobnosti na ovakve vežbe se ne treba predugo zadržavati. Ovakve vežbe treba raditi sve dok se nivo kontinualno povećava jer sposobnost brzog računanja ima izraženije genetske granice za razliku od memorije.
    </p>
    <p class="clearfix">
        Ovde ćemo pomenuti sajt Lumosity. Ovaj sajt nudi više od 60 igara namenjenih razvijanju memorije, koncentracije, računskih sposobnosti, brzine reagovanja i logičkog rešavanja.
        <br />
        Ističemo par igara namenjenih za razvijanje računskih sposobnosti
        <img src="~/Resources/math2.png" class="image-w-100 image-border" />
        <br />
        U ovoj igri osoba treba strelicom ukazati na veću vrednost ili pritisnuti strelicu „dole“ ako su vrednsti jednake. Zbog male razlike između brojeva mara se računati tačna vrednost bez prostora za procenu. Iz tog razloga su u pitanju manji brojevi. Od igrača se očekuje što veći broj tačnih odgovora za ograničeno vreme.
        <img src="~/Resources/math3.png" class="image-w-100 image-border" />
        <br />
        U ovoj igri osoba treba na tastaturi otkucati izračunatu vrednost u kapljici pre nego što ona upadne u vodu. Na višim nivoima ove igre postaju jako zahtevne, ne samo za decu na uzrastu od 7 do 11 godina već i za odrasle. Na taj način možete svoje genetske potencijale dovesti do gornjih granica uz dovoljno rada.
        <img src="~/Resources/math4.png" class="image-w-100 image-border" />
        <br />
        Pored svakog od zadatka stoji šta on unapređuje. Svako igranje donosi ili odnosi bodove, te tako možete pratiti napredak deteta. U igri na slici 17 se zahteva što brža okvirna procena vrednosti. 
    </p>

</div>
